<div class="row">
  <div class="col-12 col-md-8 col-xl-6">
	 <div class="row">
      <div class="col-5 text-center">
        <%= bold_active_link_to(l(daily_sale.sale_date),
                                edit_daily_sale_path(daily_sale, page: page) ) %>
      </div>
		<div class="col-2 text-right"><%= daily_sale.customers %></div>
		<div class="col-2 text-right"><%= daily_sale.units %></div>
      <div class="col-3 text-right"><%= decimal_aligned_money(daily_sale.sales_gross) %></div>
	 </div>
  </div>
  <div class="d-none d-xl-block col-xl text-truncate">
    <%= daily_sale.notes %>
  </div>
  <% if current_user.has_role? :global_admin %>
    <div class="d-none d-lg-block col-2 ml-auto text-truncate"><%= daily_sale.site %></div>
  <% end %>
</div>

