<h1>Daily Sales</h1>

  <div class="row">
    <div class="col-12 col-sm-8 col-xl-6">
      <div class="row">
        <div class="col-3 col-md-5">Date</div>
        <div class="col-3 col-md-2">Customers</div>
        <div class="col-2 col-md-2">Units</div>
        <div class="col-4 col-md-3">Sales</div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-xl d-none d-sm-block">
      <div class="row">
        <div class="col-2"></div>
        <% if current_user.has_role? :global_admin %>
          <div class="col"></div>
        <% end %>
      </div>
    </div>

  </div>
  <%= render 'inline_form', daily_sale: @daily_sale %>

  <% @daily_sales.each do |daily_sale| %>
    <div class="row">
      <div class="col-12 col-sm-8 col-xl-6">
        <div class="row">
          <div class="col-5"><%= l daily_sale.sale_date %></div>
          <div class="col-2"><%= daily_sale.customers %></div>
          <div class="col-2"><%= daily_sale.units %></div>
          <div class="col-3"><%= daily_sale.sales_gross %></div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-xl">
        <div class="row">
          <div class="col-2"><%= link_to 'Edit', edit_daily_sale_path(daily_sale) %></div>
          <% if current_user.has_role? :global_admin %>
            <div class="col-10"><%= daily_sale.site %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<%= paginate @daily_sales, theme: 'twitter-bootstrap-4' %>
<br>

<%= link_to 'New Daily Sale', new_daily_sale_path %>
