<div class="navbar-nav">
  <div class="nav-item dropdown">

    <%= link_to_category "Admin", :admin, class: "nav-link dropdown-toggle" %>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
      <%= active_link_to current_user.site, admin_site_path(current_user.site_id), class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= active_link_to "Users", admin_users_path, class: "dropdown-item" %>
      <%= active_link_to "Sales", admin_daily_sales_path, class: "dropdown-item" %>
      <%= active_link_to "Sites", admin_sites_path, class: "dropdown-item" if can? :manage, Site %>
    </div>
  </div>
</div>
